<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-parent-heading" jhiTranslate="stuemerconApp.parent.home.createOrEditLabel">Create or edit a Parent</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="stuemerconApp.parent.firstName" for="field_firstName">First Name</label>
                    <input type="text" class="form-control" name="firstName" id="field_firstName"
                           formControlName="firstName"/>
                    <div *ngIf="editForm.get('firstName')!.invalid && (editForm.get('firstName')!.dirty || editForm.get('firstName')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('firstName')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('firstName')?.errors?.minlength" jhiTranslate="entity.validation.minlength" [translateValues]="{ min: 3 }">
                        This field is required to be at least 3 characters.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('firstName')?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 80 }">
                        This field cannot be longer than 80 characters.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="stuemerconApp.parent.lastName" for="field_lastName">Last Name</label>
                    <input type="text" class="form-control" name="lastName" id="field_lastName"
                           formControlName="lastName"/>
                    <div *ngIf="editForm.get('lastName')!.invalid && (editForm.get('lastName')!.dirty || editForm.get('lastName')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('lastName')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('lastName')?.errors?.minlength" jhiTranslate="entity.validation.minlength" [translateValues]="{ min: 3 }">
                        This field is required to be at least 3 characters.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('lastName')?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 80 }">
                        This field cannot be longer than 80 characters.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="stuemerconApp.parent.parentOrGuardien" for="field_parentOrGuardien">Parent Or Guardien</label>
                    <select class="form-control" name="parentOrGuardien" formControlName="parentOrGuardien" id="field_parentOrGuardien">
                        <option value="PARENT">{{ 'stuemerconApp.ParentOrGuardien.PARENT' | translate }}</option>
                        <option value="GUARDIAN">{{ 'stuemerconApp.ParentOrGuardien.GUARDIAN' | translate }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="stuemerconApp.parent.email" for="field_email">Email</label>
                    <input type="text" class="form-control" name="email" id="field_email"
                           formControlName="email"/>
                    <div *ngIf="editForm.get('email')!.invalid && (editForm.get('email')!.dirty || editForm.get('email')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('email')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('email')?.errors?.pattern" jhiTranslate="entity.validation.pattern" [translateValues]="{ pattern: 'Email' }">
                            This field should follow pattern for "Email".
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="stuemerconApp.parent.phoneNo" for="field_phoneNo">Phone No</label>
                    <input type="number" class="form-control" name="phoneNo" id="field_phoneNo"
                           formControlName="phoneNo"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="stuemerconApp.parent.addressLine1" for="field_addressLine1">Address Line 1</label>
                    <input type="text" class="form-control" name="addressLine1" id="field_addressLine1"
                           formControlName="addressLine1"/>
                    <div *ngIf="editForm.get('addressLine1')!.invalid && (editForm.get('addressLine1')!.dirty || editForm.get('addressLine1')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('addressLine1')?.errors?.minlength" jhiTranslate="entity.validation.minlength" [translateValues]="{ min: 3 }">
                        This field is required to be at least 3 characters.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('addressLine1')?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 80 }">
                        This field cannot be longer than 80 characters.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="stuemerconApp.parent.addressLine2" for="field_addressLine2">Address Line 2</label>
                    <input type="text" class="form-control" name="addressLine2" id="field_addressLine2"
                           formControlName="addressLine2"/>
                    <div *ngIf="editForm.get('addressLine2')!.invalid && (editForm.get('addressLine2')!.dirty || editForm.get('addressLine2')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('addressLine2')?.errors?.minlength" jhiTranslate="entity.validation.minlength" [translateValues]="{ min: 3 }">
                        This field is required to be at least 3 characters.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('addressLine2')?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 80 }">
                        This field cannot be longer than 80 characters.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="stuemerconApp.parent.zipcode" for="field_zipcode">Zipcode</label>
                    <input type="number" class="form-control" name="zipcode" id="field_zipcode"
                           formControlName="zipcode"/>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
