<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="parent">
            <h2><span jhiTranslate="stuemerconApp.parent.detail.title">Parent</span> {{ parent.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="stuemerconApp.parent.firstName">First Name</span></dt>
                <dd>
                    <span>{{ parent.firstName }}</span>
                </dd>
                <dt><span jhiTranslate="stuemerconApp.parent.lastName">Last Name</span></dt>
                <dd>
                    <span>{{ parent.lastName }}</span>
                </dd>
                <dt><span jhiTranslate="stuemerconApp.parent.parentOrGuardien">Parent Or Guardien</span></dt>
                <dd>
                    <span jhiTranslate="{{ 'stuemerconApp.ParentOrGuardien.' + parent.parentOrGuardien }}">{{ parent.parentOrGuardien }}</span>
                </dd>
                <dt><span jhiTranslate="stuemerconApp.parent.email">Email</span></dt>
                <dd>
                    <span>{{ parent.email }}</span>
                </dd>
                <dt><span jhiTranslate="stuemerconApp.parent.phoneNo">Phone No</span></dt>
                <dd>
                    <span>{{ parent.phoneNo }}</span>
                </dd>
                <dt><span jhiTranslate="stuemerconApp.parent.addressLine1">Address Line 1</span></dt>
                <dd>
                    <span>{{ parent.addressLine1 }}</span>
                </dd>
                <dt><span jhiTranslate="stuemerconApp.parent.addressLine2">Address Line 2</span></dt>
                <dd>
                    <span>{{ parent.addressLine2 }}</span>
                </dd>
                <dt><span jhiTranslate="stuemerconApp.parent.zipcode">Zipcode</span></dt>
                <dd>
                    <span>{{ parent.zipcode }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/parent', parent.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
