<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="student">
            <h2><span jhiTranslate="stuemerconApp.student.detail.title">Student</span> {{ student.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="stuemerconApp.student.firstName">First Name</span></dt>
                <dd>
                    <span>{{ student.firstName }}</span>
                </dd>
                <dt><span jhiTranslate="stuemerconApp.student.lastName">Last Name</span></dt>
                <dd>
                    <span>{{ student.lastName }}</span>
                </dd>
                <dt><span jhiTranslate="stuemerconApp.student.grade">Grade</span></dt>
                <dd>
                    <span>{{ student.grade }}</span>
                </dd>
                <dt><span jhiTranslate="stuemerconApp.student.gender">Gender</span></dt>
                <dd>
                    <span jhiTranslate="{{ 'stuemerconApp.Gender.' + student.gender }}">{{ student.gender }}</span>
                </dd>
                <dt><span jhiTranslate="stuemerconApp.student.birthDate">Birth Date</span></dt>
                <dd>
                    <span>{{ student.birthDate }}</span>
                </dd>
                <dt><span jhiTranslate="stuemerconApp.student.emr1FirstName">Emr 1 First Name</span></dt>
                <dd>
                    <span>{{ student.emr1FirstName }}</span>
                </dd>
                <dt><span jhiTranslate="stuemerconApp.student.emr1LastName">Emr 1 Last Name</span></dt>
                <dd>
                    <span>{{ student.emr1LastName }}</span>
                </dd>
                <dt><span jhiTranslate="stuemerconApp.student.emr1RelationShip">Emr 1 Relation Ship</span></dt>
                <dd>
                    <span>{{ student.emr1RelationShip }}</span>
                </dd>
                <dt><span jhiTranslate="stuemerconApp.student.emr1Email">Emr 1 Email</span></dt>
                <dd>
                    <span>{{ student.emr1Email }}</span>
                </dd>
                <dt><span jhiTranslate="stuemerconApp.student.emr1PhoneNo">Emr 1 Phone No</span></dt>
                <dd>
                    <span>{{ student.emr1PhoneNo }}</span>
                </dd>
                <dt><span jhiTranslate="stuemerconApp.student.emr2FirstName">Emr 2 First Name</span></dt>
                <dd>
                    <span>{{ student.emr2FirstName }}</span>
                </dd>
                <dt><span jhiTranslate="stuemerconApp.student.emr2LastName">Emr 2 Last Name</span></dt>
                <dd>
                    <span>{{ student.emr2LastName }}</span>
                </dd>
                <dt><span jhiTranslate="stuemerconApp.student.emr2RelationShip">Emr 2 Relation Ship</span></dt>
                <dd>
                    <span>{{ student.emr2RelationShip }}</span>
                </dd>
                <dt><span jhiTranslate="stuemerconApp.student.emr2Email">Emr 2 Email</span></dt>
                <dd>
                    <span>{{ student.emr2Email }}</span>
                </dd>
                <dt><span jhiTranslate="stuemerconApp.student.emr2PhoneNo">Emr 2 Phone No</span></dt>
                <dd>
                    <span>{{ student.emr2PhoneNo }}</span>
                </dd>
                <dt><span jhiTranslate="stuemerconApp.student.parent">Parent</span></dt>
                <dd>
                    <div *ngIf="student.parent">
                        <a [routerLink]="['/parent', student.parent?.id, 'view']">{{ student.parent?.id }}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="stuemerconApp.student.teacher">Teacher</span></dt>
                <dd>
                    <div *ngIf="student.teacher">
                        <a [routerLink]="['/teacher', student.teacher?.id, 'view']">{{ student.teacher?.id }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/student', student.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
